/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:'돋움',dotum,sans-serif;color:#333} /* color값은 디자인가이드에 맞게 사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:underline}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

#wrap {
	float: left;
	font-size: 10.5px;
	float: left;
	width: 277px;
	height: 318px;
	float: left;
}

#topic {
	float: left;
	margin: 5px 0px 8px 17px;
	width : 300px;
}

#topic_content {
	float : left;
	font-size : 20px;
	margin-left : 25%;	
}

#content {
	float: left;
	width: 277px;
	height: 270px;
}

#bottom {
	float: left;
	width: 270px;
	height: 50px;
}

#buttons {
	float: left;
	text-align: center;
	margin-left: 43%;
}

.hide {
	float: left;
	display: none;
}

li {
	float: left;
	margin: 5px 17px 5px 17px;
	width: 100px;
	height: 120px;
}